@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/slick-carousel/slick/slick.scss';

@import 'header.scss';
@import 'menu.scss';
@import 'main.scss';
@import 'footer.scss';


* {
	box-sizing: border-box;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a:hover {
	text-decoration: none;
}

