@import "mixins.scss";

.top-header {
	background-color: #f9f9f9;
	border-bottom: 1px solid $bon-border;
}
.main-header {
	padding: 1rem 0;
	&__logo {
		padding-top: 2rem;
	}
}
.list {
	display: flex;
	&--fix {
		margin-right: 40px;
	}
	&__item {
		display: block;
		padding: 0.5rem 1rem;
		transition: 0.3s;
		@include font(#666, 14px);
		&:hover {
			color: #111;
		}
		&--sm {
			padding: 0.5rem;
		}
		&--bdr {
			border-right: 1px solid $bon-border;
		}
		&--xs {
			padding: 0 1rem;
		}
		&--fix {
			padding: 0rem 0.8rem;
			margin: 0.5rem 0;
			border-right: 1px solid $bon-pink;
			@include font($bon-pink, 12px);
		}
	}
	&__icon {
		color: $bon-pink;
	}
}

.search {
	display: flex;
	flex-wrap: wrap;
	&__text {
		flex: 75%;
		input[type="text"] {
			width: 100%;
			padding: 0 1rem;
			border: 2px solid $bon-border;
			line-height: 44px;
		}
		input[placeholder] {
			@include font(#666, 13px);
		}
	}
	&__btn {
		flex: 25%;
		input[type="submit"] {
			width: 100%;
			border: none;
			background-color: $bon-pink2;
			line-height: 44px;
			border: 2px solid $bon-border;
			border-left: none;
			cursor: pointer;
			font-weight: 600;
			transition: 0.3s;
			@include font(#fff, 20px);
			&:hover {
				background-color: $bon-pink;
			}
		}
		&--icon {
			line-height: 44px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 54px;
			background: $bon-pink;
			@include font(#fff, 24px);
		}
	}
}

.shop {
	&__btn {
		line-height: 44px;
		border: 2px solid $bon-border;
		background-color: $bon-pink;
		font-weight: 600;
		width: 100%;
		cursor: pointer;
		transition: 0.3s;
		@include font(#fff, 14px);
		&:hover {
			background-color: $bon-pink2;
		}
	}
}
.login {
	padding: 0.8rem 0;
}