@import "mixins.scss";

.main {
	padding: 2rem 0;
	background-color: #f9f9f9;
}

.bon {
	padding: 0.5rem 0;

	&--xl {
		padding: 1.2rem 0;
	}
}

.socola {
	margin-top: 1rem;
}

.hor {
	background-color: #fff;

	.hor-head {
		display: flex;
		line-height: 40px;
		align-items: center;
		background-color: $bon-pink;
		border-bottom: 1px solid #ab3334;
		@include font(#fff, 20px);

		&__icon {
			padding: 0.8rem;
			border-right: 1px solid #fff;
		}

		&__title {
			display: block;
			padding: 0 0.8rem;
			font-weight: bold;
			text-transform: uppercase;
			@include font(#fff, 20px);

		}
	}

	.hor-body {
		border: 1px solid $bon-border;

		&__item {}

		&__link {
			display: block;
			padding: 1rem;
			text-transform: uppercase;
			font-weight: 600;
			border-bottom: 1px solid $bon-border;
			transition: 0.3s;
			@include font(#666, 14px);

			&:hover {
				background-color: $bon-pink2;
				color: #fff;
			}
		}
	}
}

.img--xl {
	height: 520px;
	width: auto;
}

.bigSlider {
	position: relative;
}

.dot {
	display: flex;
	position: absolute;
	z-index: 1;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__item {
		padding: 0.5rem;
	}

	&__icon {
		transition: 0.3s;
		cursor: pointer;
		@include font(#fff, 18px);

		&:hover {
			color: #FFF900;
		}

		&--sm {
			@include font(#fff, 8px);
		}
	}
}

.line {
	border-bottom: 2px solid $bon-border;
}

.sweet {
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
	@include font(#505050, 20px);
}

.pig {
	&__item {
		display: inline-block;
		text-transform: uppercase;
		border-right: 1px solid $bon-pink;
		padding: 0 0.5rem;
		@include font($bon-pink, 12px);
	}
}

.bonS {
	padding: 0.5rem;

	&--sm {
		padding: 1px;
	}

	&__main {
		background: #fff;
		border: 1px solid $bon-border;
		position: relative;
	}

	&__img {
		padding: 1rem;
		border-bottom: 1px solid $bon-border;

		img {
			transition: 0.5s;

			&:hover {
				transform: scale(1.1, 1.1);
			}
		}
	}

	&__title {
		padding: 5px 0;
		margin: 0 5px;
		border-bottom: 1px solid $bon-border;
		transition: 0.3s;
		@include font(#777, 15px);

		&:hover {
			color: $bon-pink;
		}
	}

	&__fee {
		font-weight: 600;
		padding: 5px 0;
		@include font(#3f3f3f, 22px);
	}

	&__del {
		text-decoration: line-through;
		@include font(#636363, 14px);
	}

	&__btn {
		padding: 0.5rem;
	}

	&__fast {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		transition: 0.5s;
		@include font(#fff, 12px);
	}

	&__cir {
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		border-radius: 50%;
		display: inline-block;
		background: #ab3434;
		line-height: 30px;
		width: 30px;
		@include font(#fff, 11px);
	}
}

.bonS:hover .bonS__fast {
	opacity: 1;
}

.box {
	background: #fff;
	border: 1px solid $bon-border;
	padding: 5px;
}

.block {
	background: #ededed;
	margin-top: 1rem;
	border-bottom: 1px solid #ccc;
}

.block-content {
	padding: 0.5rem;
}

.cat {
	cursor: pointer;
	padding: 2rem 1rem;
	position: relative;
	transition: 0.5s;
	border-radius: 5px;

	&:hover {
		background: $bon-pink;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: -16px;
		border-right: 2px dotted #a2a2a2;
		height: 100%;
	}

	&-icon i {
		font-size: 44px;
		padding: 0 0.5rem;
	}

	&-desc {
		&__text {
			transition: 0.5s;
			text-transform: uppercase;
			font-weight: 600;
			@include font($bon-pink, 24px);
		}

		&__cho {
			transition: 0.5s;
			@include font(#444, 16px);
		}
	}
}

.cat--fix::after {
	border-right: none;
}

.cat:hover .cat-desc__text {
	color: #fff;
}

.cat:hover .cat-desc__cho {
	color: #fff;
}

.dog {
	display: flex;

	&__link {
		display: inline-block;
		padding: 0 0.5rem;
		transition: 0.5s;
		@include font(#666, 14px);

		&:hover {
			color: $bon-pink;
		}
	}

	&__icon {
		color: $bon-pink;
	}
}

.fish {
	padding: 0.5rem;
	width: 33.33%;
	&__main {
		overflow: hidden;
		position: relative;
	}

	.boxImg {
		position: relative;
		z-index: 1;
		overflow: hidden;

		&::before {
			content: "";
			display: block;
			padding-bottom: 60%;
			box-sizing: border-box;
		}

		.boxImgCrop {
			display: inline-block;
			height: 100%;
			left: 0;
			overflow: hidden;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				// font-family: 'object-fit: cover;';
			}
		}
	}

	&__cop {
		display: inline-block;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	&__time {
		padding: 0.5rem 0;
		@include font(#909090, 16px);
	}

	&__title {
		position: relative;
		padding: 5px 0;
		text-transform: uppercase;
		transition: 0.5s;
		@include font(#4e4e4e, 20px);

		&::after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			border-top: 2px solid #d8d8d8;
			width: 100px;
		}
	}

	&__desc {
		padding: 0.5rem 0;
		@include font(#4e4e4e, 13px);
	}

	&__add {
		font-weight: 600;
		transition: 0.5s;
		@include font(#383838, 13px);

		i {
			transition: margin-left 0.5s;
		}

		&:hover i {
			margin-left: 5px;
		}

		&:hover {
			color: $bon-pink;
		}
	}
}
.none {
	display: none;
}
@media (max-width: 800px){
	.hor{
		display: none;
	}
	.none{
		display: block;
	}
}