@import "mixins.scss";

nav {
    background-color: #ededed;
}

.menu {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: block;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        transition: 0.2s;
        @include font(#505050, 20px);

        &:hover {
            background-color: #8090a0;
            color: #fff;
        }

        &--active {
            background-color: #8090a0;
            color: #fff;
        }
    }
}

.burger {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: $bon-pink;
    position: fixed;
    top: 20px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 98;
    visibility: hidden;
}

.burger span {
    height: 2px;
    width: 20px;
    background: #000;
    margin: 2px;
    transition: 0.3s;
}

.burger:hover {
    cursor: pointer;
}

.burger:hover span:first-child {
    width: 10px;
    transform: rotate(33deg) translate(6px, 0px);
}

.burger:hover span:last-child {
    width: 10px;
    transform: rotate(-33deg) translate(6px, 0px);
}

.menunav {
    width: 300px;
    height: 100vh;
    padding-top: 100px;
    background: $bon-pink;
    display: flex;
    justify-content: center;
    // align-items: center;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.4s;
}

.menu_active {
    transform: translateX(0%);
    transition: all 0.4s;
}

.menunav .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    height: 25px;
    width: 25px;
    color: purple;
    padding: 0;
    border: 0;
    transition: 0.3s;
}

.menunav .btn-close:hover {
    color: purple;
    transform: scale(1.5, 1.5);
}

.menunav ul {
    width: 80%;
}

.menunav ul li {
    margin: 10px;
    font-size: 25px;
    border-bottom: 1px solid #fff;
}

.menunav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.menunav ul li a:hover {
    color: purple;
}

.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    background: $bon-pink;
    color: #fff;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 18px;
    transition: 0.3s;
    z-index: 999;

    &:hover {
        color: #333;
    }
}

@media (max-width: 800px) {
    .top-header {
        display: none;
    }

    .main-header__logo {
        padding-top: 0
    }

    .main-header__form {
        display: none;
    }

    nav {
        display: none;
    }

    .burger {
        visibility: visible;
    }

    .bigSlider {
        display: none;
    }

    .del {
        display: none;
    }
    
}